
.container1 {
    white-space: nowrap;
    animation: scroll 10s linear infinite;
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', sans-serif;
}

.pan {
    display: inline-block;
    width: 100px; 
    height: 100px; 
    margin-right: 770px; 
    text-decoration: none;
    color: black;
    font-size: 60px;
}

.pan:hover{
    font-size: 60px;
    text-decoration: none;
    color: rgb(255, 136, 0);
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.modechangebutton{
    font-family: 'Gill Sans', sans-serif;
    font-size: 60px;
    line-height: 100px;
    text-decoration: underline 4px;
    text-underline-offset: 5px;
}

.chinese{
    font-size: 26px;
}

.buttontitle{
    font-family: 'Gill Sans', sans-serif;
    font-size:30px;
    margin: 1%;
}

.btn {
    font-family: 'Gill Sans', sans-serif;
    font-size:30px;
    border: solid 2px;
    border-radius: 25px;
    outline: none;
    padding: 1.5vh 2vh;
    margin-top: 5px;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }

.parent {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    width: 100%;
    margin-left: 3%;
    margin-top: 3%;
    grid-template-areas:
        "aa ab ac ad ae af"
        "ba bb bc bd be bf"
        "ca cb cc cd ce cf"
        "da db dc dd de df"
        "ea eb ec ed ee ef"
        "fa fb fc fd fe ff"
        "ga gb gc gd ge gf"
        "ha hb hc hd he hf"
}

.div1 {
    grid-area: aa;
}

.div2 {
    grid-area: ab;
}

.div3 {
    grid-area: ac;
}

.div4 {
    grid-area: ad;
}

.div5 {
    grid-area: ae;
}

.div6 {
    grid-area: af;
}

.div7 {
    grid-area: ba;
}

.div8 {
    grid-area: bb;
}

.div9 {
    grid-area: bc;
}

.div10 {
    grid-area: bd;
}

.div11 {
    grid-area: be;
}

.div12 {
    grid-area: bf;
}

.div13 {
    grid-area: ca;
}

.div14 {
    grid-area: cb;
}

.div15 {
    grid-area: cc;
}

.div16 {
    grid-area: cd;
}

.div17 {
    grid-area: ce;
}

.div18 {
    grid-area: cf;
}

.div19 {
    grid-area: da;
}

.div20 {
    grid-area: db;
}

.div21 {
    grid-area: dc;
}

.div22 {
    grid-area: dd;
}

.div23 {
    grid-area: de;
}

.div24 {
    grid-area: df;
}

.div25 {
    grid-area: ea;
}

.div26 {
    grid-area: eb;
}

.div27 {
    grid-area: ec;
}

.div28 {
    grid-area: ed;
}

.div29 {
    grid-area: ef;
}

.div30 {
    grid-area: fa;
}

.div31 {
    grid-area: fb;
}

.div32 {
    grid-area: fc;
}

.div33 {
    grid-area: fd;
}

.div34 {
    grid-area: fe;
}

.div35 {
    grid-area: ff;
}

.div36 {
    grid-area: ga;
}

.div37 {
    grid-area: gb;
}

.div38 {
    grid-area: gc;
}

.div39 {
    grid-area: gd;
}

.div40 {
    grid-area: ge;
}

.div41 {
    grid-area: gf;
}

.div42 {
    grid-area: ga;
}

.div43 {
    grid-area: gb;
}

.div44 {
    grid-area: gc;
}

.div45 {
    grid-area: gd;
}

.div46 {
    grid-area: ge;
}

.div47 {
    grid-area: gf;
}

.div48 {
    grid-area: ha;
}

.div49 {
    grid-area: hb;
}

.div50 {
    grid-area: hc;
}

.div51 {
    grid-area: hd;
}

.div52 {
    grid-area: he;
}

.div53 {
    grid-area: hf;
}

.div54 {
    grid-area: ia;
}

.div55 {
    grid-area: ib;
}

.div56 {
    grid-area: ic;
}

.div57 {
    grid-area: id;
}

.div58 {
    grid-area: ie;
}

.div59 {
    grid-area: if;
}

.div60 {
    grid-area: ig;
}

.griditem {
    height: 11rem;
    width: 11rem;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .container1 {
        animation: scroll 10s linear infinite;
        font-size: 25px;
    }

    .pan {
        font-size: 77px;
    }

    .btn {
        font-family: 'Gill Sans', sans-serif;
        font-size:30px;
        border: solid 2px;
        border-radius: 25px;
        outline: none;
        margin-top: 5px;
        background-color: #ffffff;
        cursor: pointer;
    }

    .parent {
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 30px;
        width: 100%;
        margin-left: 3%;
        margin-top: 3%;
        grid-template-areas:
            "aa ab" 
            "ac ad" 
            "ae af"
            "ba bb" 
            "bc bd" 
            "be bf"
            "ca cb" 
            "cc cd" 
            "ce cf"
            "da db" 
            "dc dd" 
            "de df"
            "ea eb" 
            "ec ed" 
            "ee ef"
            "fa fb" 
            "fc fd" 
            "fe ff"
            "ga gb" 
            "gc gd" 
            "ge gf"
            "ha hb" 
            "hc hd" 
            "he hf"
    }
}