body {
  margin: 0;
  margin-top: 1rem;
  background-color: black;
}
h1 {
  font-size: 300px;
  font-family: "Noto Serif TC", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 200px;
  margin: 0;
  margin-left: 3rem;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  margin: 0;
  color: rgb(255, 255, 255);
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
  margin: 0;
}

.sidebar {
  position: fixed;
  display: flex;
  height: 95vh;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  justify-content:  flex-start;
  justify-items: center;
}

.page-content {
  margin-left: 40%;
  width: 55%;
  margin-top:5%;
  margin-right: .5rem;
  color: white;
}

.glowIn span {
  animation: glow-in 0.8s both;
}

@keyframes glow-in {
  from {
    opacity: 0;
  }
  65% {
    opacity: 1;
    text-shadow: 0 0 15px rgb(255, 230, 0);
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0.7;
  }
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 10vh;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    line-height: 8vh;

  }

  .sidebar {
    display: flex;
    width: 100%;
    height: 8vh;
    position: static;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    margin: 0;
  }

  .page-content {
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 8vh;
    width: 90%;
  }

  
}

.nextpage{
  text-shadow: rgb(255, 234, 1) 1px 0 10px;
}
